body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:rgb(206, 191, 191);
}
button{
    width: 90px;
    height: 90px;
    border-radius: 50px;
    border: none;
    background-color: rgb(59, 50, 50);
    color: aliceblue;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}
.cal{ 
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    border-radius: 20px;
    max-width: 500px;overflow: hidden;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: rgb(41, 39, 39);
    color: aliceblue;
}
button:hover{
    background-color: rgb(88, 83, 83);
}
button:active{
    background-color: rgb(179, 173, 173);
}
.operator-btn{
    background-color: rgb(243, 163, 16);
}
.operator-btn:hover{
    background-color: rgb(238, 206, 23);
}
.operator-btn:active{
    background-color: rgb(238, 206, 23);

}